
@media (max-width:1740px) {
	.banner-container {
		max-width:95%;
	}
}


@media (max-width:1400px) {

.stepfrm-inner {
	width: 78%;
}
}
/* @media (max-width:1400px) {
	.mxWdthead {
		max-width:100%;
	}
	.header-wraapper .login {
		padding:6px 30px;
		margin-right:25px;
	}
	.banner-container .banner-content-wrap h2 {
		font-size:50px;
		margin:80px 0 0 0;
		line-height:62px;
	}

	.banner-container .banner-content-wrap p {
		font-size:20px;
		margin-top:30px;
		margin-bottom:28px;
	}
	.search-box {
		padding:30px;
		margin:20px 0;
	}

	.concept-wrapper .concept-content {
		padding-left:0px;
	}
	.title {
		font-size:34px;
        line-height: inherit;

	}
    .concept-wrapper .concept-content h2 {
        font-size: 32px;
        line-height: inherit;
    }
	.concept-wrapper .concept-content p,.subtitle {
		margin-bottom:6px;
	}
	.footer-wrapper .link-head {
		font-size:20px;
		margin-bottom:16px;
	}
	.footer-wrapper .nav .nav-item {
		margin:3px 0;
	}
	.page-title {
		font-size:38px;
		margin-bottom:20px;
	}
	.universal-event-search {
		max-width:100%;
	}
	.singleItem .content-wrap .image-style {
		height:226px!important;
		width:320px!important;
	}
	.my-profile-wrapper .stepfrm-inner .header {
		padding:0 40px;
	}
	.How-itworks-wrapper .numberBox .number-part {
		width:70px;
		height:70px;
	}
	.How-itworks-wrapper .process-part {
		background-position:center 36px;
	}

	.How-itworks-wrapper .item-content {
		width:30%;
	}

	.FooterBanner .content-box {
		padding:24px;
	}
	.FooterBanner .content-box .ms-head {
		font-size:24px;
		margin-bottom:15px;
	}
	.FooterBanner .content-box .nav-item {
		margin:2px 0;
	}

	.btn-next {
		font-size: 15px;
	
	}
	.btn-cancel {

		font-size: 15px;
	
	}
	.save-cancel-action .nav-pills .nav-link {
	
		font-size: 16px;
	
	}
} */
@media (max-width:1200px) {
	.main-frame-inner .myevents-list {
		padding: 10px;
	}
	.mxWdthead {
		max-width:100%;
	}
	.footer-wrapper .nav .nav-item a {

		font-size: 14px;
		
	}
	.footerinfo.footerlogo {
		width: 130px;
	}
	/* .footerinfo.footerfromsection {
		width: 240px;
	} */

	.myevents-list .content-inner {
	
		flex-direction: column;
	}
	.modf_img.modfimgevent.modf3 {
		margin-right: 0;
	
		margin-bottom: 15px;
	}

	.myevents-list .inner-form-part .table thead th {
		font-size: 14px;
		padding: 7px 5px;
	
	}
	.right-panel .main-frame-inner {
		padding: 0 0px 10px;
	}
}

@media (max-width:1080px) {
	.subtitle {
	
		line-height: 23px;
		
	}
	.footerGap.row .col-md-3, .footerGap.row .col-md-4, .footerGap.row .col-md-2 {
		width: 22%;
	}

	.footerGap.row .col-md-4 {
		width: 33% !important;
	}
	.title {
		font-size: 26px;
		margin: 0;
	}
	.How-itworks-wrapper .how-works-inner {
		padding: 0px;
	}
	.process-content {
		padding: 24px 0px 2px !important;
		margin: 0px !important;
	}
	.How-itworks-wrapper .process-part {
		background-position: center 60px;
	}
	.stepfrm-inner {
		width: 100%;
	}
}

@media (max-width:991px) {
	.order-summery-wrapper .card-details .form-control {
		height: 36px;
	}

	.btn-short {

		font-size: 16px;
	
	}

	.aBtnnew {
	
		font-size: 16px;

	
	}
	.singleItem .content-wrap .content .title-head {
	
		font-size: 17px;
	
	}
	.modf_img.modfimgevent div {
		height: 182px;
	}
.modf_img.modfimgevent.modf3 div {
    height: 177px;
}
	.modf_img.modfimgevent.modf3 {
		margin-right: 20px;
	}
	.singleItem:nth-child(odd) {
		
		padding:25px 0; 
	}
	.singleItem:nth-child(even) {
	
		padding:25px 0; 
	}
	.deskfot_opt .footerinfo.footerlogo {
		display: none;
	}
	.mobfot_opt {   
		display: block;
		padding-bottom: 8px;
	}
	.banner-container .banner-content-wrap p {
		font-size: 18px;
		line-height: 26px;
	}
	body{
		font-size: 14px;
	}
	.FooterBanner .content-box .nav-item {
		margin: 4px 0;
	}
	.How-itworks-wrapper .item-content {
		width: 32%;
	}
	.How-itworks-wrapper .item-content p {
		
		font-size: 13px;
		line-height: 20px;
	}
	.concept-wrapper .concept-content h2, .title {
		font-size: 22px;
	
	}
	.How-itworks-wrapper .numberBox .number-part {
		width: 60px;
		height: 60px;
		font-size: 28px;
	}
	.container {
		max-width:95%;
	}
	.singleItem .content-wrap .action-section .btn-view-event {
		min-width:175px;
	}
	/* .singleItem .content-wrap .action-section .btn-short{height: 58px;}*/
	.banner-container .banner-content-wrap h2 {
		font-size:40px;
	}
	.search-box {
		padding:20px;
	}
	.search-box .form-control {
		height:56px;
	}
	.How-itworks-wrapper .how-works-inner {
		padding:0 30px;
	}
	.footerGap {
		padding-right:0;
	}

	.footer-wrapper .row {
		flex-direction: column;
	}
	.footerGap.row {
		flex-direction: row;
	}
	.footer-wrapper .row .col-md-9.col-sm-9 {
		width: 100%;
	}
	.contactinfo.col-md-3.col-sm-3 {
		width: 100%;
	}
	.footer-wrapper .link-head {
		margin-bottom: 6px;
	}
	.footer-wrapper .search-box {

		margin: 15px 0 0;
	}
	.footer-wrapper .footerGap.row {
		flex-direction: row;
	}
	.How-itworks-wrapper .item-content h6 {
	
		font-size: 15px;
	}
/* 
	.concept-wrapper .row {
		justify-content: space-between;
	}
	 */
	.concept-wrapper .col-md-5 {
		width: 50% 
	}
	.concept-wrapper .col-md-7 {
		width: 50% 
	}
	


	.event-wrapper .col-sm-6 {
		width: 50%;
	}
	.venue-wrapper .col-sm-5 {
		width: 50%;
	}
	.venue-wrapper .col-sm-7 {
		width: 50%;
	}
	.organizer-wrapper .col-md-5 {
		width: 50%;
	}
	.organizer-wrapper .col-md-7 {
		width: 50%;
	}
	.why-misocial .col-md-6 {
		width: 50%;
	}
	.evOrg.col-md-5 {
		position: relative;
	}
	/* .evOrg.col-md-5 div {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
	} */

	.footerGap {
		flex-wrap: wrap; 
	}
	/* .footerinfo.footerfromsection {
		width: 100%;
	} */
	.footer-wrapper .search-box .form-control {
	
		font-size: 13px;
	
	}
	.footerinfo.footerfromsection {
		width: 212px;
	}
	.mobfotopt {
		display: block;
		padding: 8px 0 0;
	}
	.footerinfo.deskfotopt {
		display: none;
	}
	.stepfrm-inner .form-control {
		height:46px;
	}
}
@media (max-width:768px) {
	.form-values .text {
		font-size:13px;
	}
	.stepfrm-inner .members-already {
		font-size: 15px;
	
	}
	body{
		font-size: 13px;
	}
	.sifBtn {
		flex-wrap:nowrap;
	}
	.evntHd {
		align-items:flex-start;
	}
	/* .evnFlex {
		flex-direction:column-reverse;
		align-items:flex-end!important;
	} */
	/* .evntbeforelog {
		position:relative;
		top:30px;
		right:0px;
		display:flex;
		flex-direction:column;
	}
	.evntbeforelog a {
		margin-right:0;
		margin-bottom:6px;
		text-align:center;
	} */
	.OrganizerDashboardApproved .approve-Instruction {
		width:100%!important;
	}

	.terms-privacy .sub-head {
		font-size:20px;
	}
	.page-title {
		font-size:28px;
	}
	/* .footer-social {
		flex-direction:column;
		align-items:center;
	} */
	/* .footer-social .social {
		padding-top:20px;
	} */
	.pl-custom {
		padding-left:0;
	}
	.concept-wrapper .concept-content {
		padding-left:0;
	}
	.pr-custom {
		padding-right:0px;
		margin-bottom:20px;
	}
	.concept-wrapper,.How-itworks-wrapper,.event-wrapper,.venue-wrapper,.why-misocial,.organizer-wrapper {
		padding:30px 0;
	}
	.concept-wrapper .concept-content h2,.title {
		font-size:24px;
		/* line-height:40px; */
	}
	.concept-wrapper .concept-content p,.subtitle {
		font-size:14px;
		margin-bottom:8px;
		line-height: 24px;
	}
	.search-box .btn-join-now {
		min-width:150px;
	}
	.FooterBanner {
		padding:30px 0;
	}
	.FooterBanner .content-box {
		padding:20px;
	}
	.FooterBanner .content-box .nav-item {
		font-size:13px;
	}
	.footer-wrapper {
		padding:30px 0 20px 0;
	}
	.footer-wrapper .link-head {
		font-size:16px;
	}
	.footer-wrapper .nav .nav-item a {
		font-size:13px;
	}
	.check-radio-wrap {
		flex-wrap:wrap;
	}
	.check-radio-wrap .gender-part .cs-wrapper {
		margin:0 10px 0 0;
	}
	.sign-nextstep-form .stepfrm-inner .form-label {
		margin-right:16px;
		/* margin-bottom:10px; */
	} 
	/* .save-cancel-action{flex-wrap: wrap;}*/
	.check-radio-wrap .gender-part {
		flex-wrap:wrap;
	}
	.How-itworks-wrapper .process-part {
		background:none;
	}
	.How-itworks-wrapper .item-content:first-child .number-part:before,.How-itworks-wrapper .numberBox .number-part::before,.How-itworks-wrapper .numberBox .number-part::after {
		display:none;
	}
}
@media (max-width:668px) {
	.universal-event-search {
		max-width:100%;
	}
	.universal-event-search .btn-search {
		width:200px;
		height:48px;
		font-size:16px;
		margin-left:10px;
	}
	.singleItem .content-wrap {
		flex-wrap:wrap;
	}
	.singleItem .content-wrap .content {
		margin:0;
		margin-top:16px;
	}
	.singleItem .content-wrap .content .title-head {
		font-size:20px;
	}
	.singleItem .content-wrap .content .time-date {
		font-size:15px;
		margin-bottom:15px;
	}
	.buy-ticket-wr .ticket-column .inner-head {
		font-size:18px;
	}
	.event-content-wr .details-title {
		font-size:30px
	}
	.buy-ticket-wr .ticket-row {
		flex-wrap:wrap;
	}
	/* .buy-ticket-wr .btn-large {
		margin-top:20px;
	} */
	.buy-ticket-wr .ticket-row .ticket-column {
		width:100%;
	}
	.order-summery-wrapper .card-details {
		padding:20px;
	}
	.event-location-map {
		height:auto;
	}
	.content-box-address {
		margin-bottom:0px;
		margin-top:20px;
	}
	.forget-form-wrapper {
		width:90%;
	}
	.header-wraapper .logo-part {
		margin-top:5px;
		width:118px;
		display:flex;
		align-items:center;
	}
	.top-banner {
		padding:30px 8px;
	}
	.concept-wrapper,.How-itworks-wrapper,.event-wrapper,.venue-wrapper,.why-misocial,.organizer-wrapper {
		padding:30px 0;
	}
	.banner-container .banner-content-wrap p {
		/* font-size:15px; */
		font-size: 11px;
		line-height: 20px;
	}
	.banner-container .banner-content-wrap h2 {
		font-size:40px;
		margin:35px 0 0 0;
		line-height:45px;
	}
	.header-wraapper .login {
		padding:6px 20px;
		margin-right:10px;
	}
	.search-box {
		padding:10px;
	}
	.search-box .btn-join-now {
		font-size:16px;
		min-width:125px;
		padding:5px 10px;
	}
	.header-wraapper .other-part .profile {
		margin-right:15px;
	}
	.How-itworks-wrapper .process-part .process-content {
		flex-direction:column;
	}
	.How-itworks-wrapper .item-content {
		text-align:center;
		width:100%;
		margin-bottom:20px;
	}
	.step-one-form {
		width:90%;
		margin:30px auto;
	}
	.stepfrm-inner .header {
		font-size:24px;
		margin-bottom:20px;
		line-height:35px;
	}
	.signup-one-banner {
		min-height:260px;
	}
	.sign-nextstep-form {
		width:100%;
		padding:0px;
		margin:25px auto;
	}
}
@media (max-width:600px) {
	.btn-next {
		/* font-size:14px;
		line-height:22px; */
	}
	.forgetModal1 .successReset-modal {
		padding:0 15px!important;
	}
}
@media (max-width:576px) {
	.formNextmodal .successReset-modal {
		padding:0 0px!important;
	}
	.footer-wrapper {
		text-align:center;
	}
	.footer-wrapper .nav .nav-item {
		width:100%;
		margin:6px 0;
	}
	.footer-wrapper .nav .nav-item a {
		font-size:14px;
	}
	.footer-wrapper .link-head {
		font-size:18px;
		margin:20px 0 10px;
	}
	/* .my-profile-wrapper .stepfrm-inner .date-year {
		width:100%;
	} */
}
@media (min-width:576px) {
	.modal-dialog {
		max-width:640px;
	}
}
@media (max-width:480px) {
	.obB a.login {
		position:absolute;
		right:0;
		top:56px;
		margin-right:0;
	}
	.save-cancel-action {
		flex-direction:column;
	}
	.sifBtn {
		flex-direction:column;
	}
	.sifBtn .btn {
		width:100%!important;
	}
	.aBtnnew {
		min-width:147px;
	}
	.dotsTxt {
		padding-right:3px;
	}
	.pagination .page-item:first-child .page-link svg,.pagination .page-item:last-child .page-link svg {
		display:none;
	}
	.pagination .page-item .page-link {
		padding:2px 5px;
	}
	/* .my-profile-wrapper .stepfrm-inner .date-year {
		width:100%!important;
	} */
	.save-cancel-action .nav-pills {
		flex-direction:column;
	}
	.stepfrm-inner .remember .forget-pass {
		font-size:15px;
	}
	.cs-wrapper .label-text {
		font-size:15px;
	}
	/* .pagination .page-item .page-link {
		font-size:12px;
	} */
	.pagination-wr {
	    margin: 16px 0px 10px;
	}
	.singleItem .content-wrap .content .time-date {
		font-size:15px;
	}
	.singleItem .content-wrap .content .location {
		font-size:15px;
	}
	.universal-event-search {
		flex-direction:column;
	}
	.universal-event-search .btn-search {
		width:100%;
		margin:6px 0 0 0;
	}
	.How-itworks-wrapper .how-works-inner {
		padding:0 0px;
	}
	.How-itworks-wrapper .search-box {
		padding:15px 20px;
	}
	.footer-wrapper .search-box {
		flex-direction:row;
	}
	.footer-wrapper .search-box .form-control {
		margin:0;
	}
	.banner-container .banner-content-wrap h2 {
		font-size:30px;
		line-height:40px;
	}
	.search-box .form-control {
		height:50px;
		margin-bottom:6px;
	}
	.search-box .btn-join-now {
		font-size: 15px;
	}
	.singleItem .content-wrap .action-section .btn-view-event,.singleItem .content-wrap .action-section .btn-short {
		min-width:inherit;
		/* height:50px;*/
		width:50%;
	}
	.concept-wrapper,.How-itworks-wrapper,.event-wrapper,.venue-wrapper,.why-misocial,.organizer-wrapper {
		padding:16px 0;
	}
	form.d-flex.search-box.modfromopt {
		padding: 5px 0 10px;
	}s
	.page-title {
		margin-bottom:20px;
	}
	/* .banner-container .banner-content-wrap p br {s
		display:none;
	} */
	.search-box {
		margin-bottom:0;
		padding:8px;
		flex-direction:column;
	}
	.concept-wrapper .concept-content h2,.title {
		font-size:28px;
		/* line-height:35px; */
		margin-top:5px;
	}
	.How-itworks-wrapper .item-content h6 {
		font-size:15px;
		/* line-height:42px; */
	}
	.How-itworks-wrapper .item-content p {
		font-size:13px
	}
	.header-wraapper .menu-wrapper {
		min-width:100%;
		max-width:100%;
	}
	.check-radio-wrap .gender-part .cs-wrapper {
		margin:0 10px 10px 0;
	}
}
@media (max-width:360px) {
	.stepfrm-inner .remember {
		flex-direction: column;
	}
	.banner-container .banner-content-wrap p {
		font-size: 10px;
		line-height: 20px;
	}
}

@media (max-width:1200px) {
	.events-wrap .search-res {
		font-size: 15px;
		margin-top: 0px;
		margin-bottom: 13px;
	}
	.search-box .btn-join-now {
			font-size: 14px;
	}

}
@media (max-width:767px) {
	.inprow.inprow2.adjpad .mb-3 {
		width: 100%;
	}
	.cs-wrapper .label-text {

		font-size: 13px;

	}
	.form-class .add-tickets-wrap .currency-part .btn-next,button.btn.btn-cancel,.form-class .add-tickets-wrap .currency-part .btn-next{
		font-size: 14px;
	}
	.cs-wrapper .label-text {
		
		font-size: 13px;
	
	}
	.right-panel .header {
		padding-bottom: 10px;
		margin-bottom: 10px !important;
	}
	.mb-3 {
		/* margin-bottom: 10px !important; */
	}
	.btn-next {
		font-size: 15px;
		
	}
	.pvrEvent {
		padding-top: 20px;
	}
	.pvrEvent .header {

		font-size: 24px;
	}
	.singleItem .content-wrap {
		flex-wrap: wrap;
		display: grid;
	}
	.menu-wrapper .nav .nav-link {
		font-size: 13px;
	}
	.footer-wrapper .search-box .form-control {
		font-size: 13px;
	}
	.how-works-inner p.subtitle {
		font-size: 13px;
	}
	/* .event-content-wr {
		padding: 0px 0 0px 0;
	} */
	body {
		font-size: 13px;
	}
	.order-summery-wrapper header {
	
		font-size: 15px;
	}
	.order-summery-wrapper .card-details .form-label {
		font-size: 14px;
	}
.buy-ticket-wr {
    margin-top: 17px;
}
.buy-ticket-wr .ticket-column .inner-head {
    font-size: 13px;
}
	.buy-ticket-wr .tkt-title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.page-title {
		font-size: 22px;
	}
	.events-wrap {
		/* padding: 60px 0 80px; */
		padding: 23px 0 28px;
	}
	.universal-event-search .form-control {
	
		font-size: 13px;
		text-align: center;
		
	}
	.singleItem .content-wrap .content .title-head {
		font-size: 14px;
	}
	.pagination .page-item .page-link {
		font-size: 13px !important;
		padding: 2px 7px !important;
	}
	.header-wraapper .login {
		padding: 6px 12px;
		margin-right: 10px;
		font-size: 13px;
	}
	.events-wrap .btn-reset {
		font-size: 13px;
	}
	/* .pagination .page-item .page-link {
		font-size: 14px;
	} */
	.singleItem .content-wrap .content .time-date {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.singleItem .content-wrap .content .location {
		font-size: 14px;
	}
	.btn-short {
		font-size: 14px;

	}
	.btn-view-event {
		font-size: 14px;

	}
	.aBtnnew {
		font-size: 14px;
	}
	.aBtnnew {
		width: 50%;
	}
	.footer-wrapper .footerGap.row {
		flex-direction: column;
	}
	.footerGap.row .col-md-4 {
		width: 100% !important;
	}
	.footerGap.row .col-md-3, .footerGap.row .col-md-4, .footerGap.row .col-md-2 {
		width: 100%;
	}
	.footer-social {
		flex-direction: column;
	}
	.social {
		padding: 15px 0 0;
	}
	.organizer-wrapper .row {

		flex-direction: column;
	}

	.event-wrapper .col-sm-6 {
		width: 100%;
	}
	.venue-wrapper .col-sm-5 {
		width: 100%;
	}
	.venue-wrapper .col-sm-7 {
		width: 100%;
	}
	.organizer-wrapper .col-md-5 {
		width: 100%;
	}
	.organizer-wrapper .col-md-7 {
		width: 100%;
	}
	.why-misocial .col-md-6 {
		width: 100%;
	}


	.concept-wrapper .col-md-5 {
		width: 100% 
	}
	.concept-wrapper .col-md-7 {
		width: 100% 
	}
	
	.concept-wrapper .concept-content h2, .title {
		font-size: 22px;
	
	}
	.search-box .form-control {
	
		text-align: center;
	}
	.footer-wrapper .nav .nav-item {
		margin: 3px 0;
		text-align: left;
	}
	.footer-wrapper .link-head {
		font-size: 18px;
		margin: 15px 0 10px;
		text-align: left;
	}
	.footer-wrapper .search-box .form-control {
		margin: 0;
		text-align: left;
	}
	.footer-social {
		text-align: left;
	}
	.footer-social .copyright {

		text-align: left !important;
		width: 100%;
	}
	.footer-social {
		align-items: baseline;
	}
	.f-logo {
		text-align: left;
		width: 120px;
	}
	.concept-wrapper .concept-content p, .subtitle {
		font-size: 13px;
		line-height: 24px;
	}
	.footer-wrapper .nav .nav-item a {
		font-size: 13px;
	}
	.footer-wrapper .nav .nav-item {
		margin: 1px 0;
		text-align: left;
	}
	.evntbeforelog {
		position: absolute;
		right: -8px;
		top: 59px;
	}
	.other-part.evnFlex {
		padding-top: 9px;
	}
	.event-banner,.top-banner,.signup-one-banner,.signupnext-banner,.log-banner {
		padding: 18px 10px;
	}
	.event-banner,.signupnext-banner,.signup-one-banner,.log-banner,.forgetBanner {
		height: 200px;
	}

	.terms-privacy .sub-head-new {
		font-size: 15px;
		
	}
	.event-content-wr .details-title {
		font-size: 18px;
		padding-bottom: 0px;
		margin: 0 0 12px;
	}
	.details-cont-portion h2 {
		font-size: 20px;
	}
	.event-wrapper .row , .why-misocial .row{
		flex-direction: column-reverse;
	}
	.footer-social .copyright {
		
		font-size: 12px;
	}
	.footerGap {  
		flex-direction: column;
	}
	.FooterBanner .content-box {  
		padding: 15px 20px 15px 10px;
	}

	.vBanner {
	
		font-size: 15px;
	
	}
	.buy-ticket-wr .ticket-column .table td {
		padding: 7px 8px;
	
	}
	.data-status-header .top-portion .trs-status {
		
		font-size: 15px;
	}
	/* .joinnow_btn {
		margin-top: 0px;
	} */
	.footerinfo.footerfromsection {
		width: 100%;
	}
	.stepfrm-inner .captcha .cap-text {
		font-size:14px;
	}
	.formNextmodal p {
		font-size:13px;

	}
	.terms-privacy .texts {
		font-size: 13px;
		line-height: 23px;
	}
	.terms-privacy .sub-head {
		font-size: 16px;
	}
	.event-content-wr .details-cont-portion p {

		line-height: 24px;
	}
	.btn-large {

		font-size: 16px;
		height: 50px;
	}
	/* .stepfrm-inner .form-label {
		font-size: 15px;
		
	} */
	.cs-wrapper .label-text {
	  
		font-size: 15px;
	 
	}
	.stepfrm-inner .remember .forget-pass {
		font-size: 15px;
	}
	.How-itworks-wrapper {
		padding: 16px 0 33px;
	}

	 
	.scroll-to-top {
		bottom: 15px;

		}
		.img-box {
			padding-top: 10px;
			margin-bottom: 5px;
		}
		.concImg {
			padding-top: 10px;
			margin-bottom: 5px;
		}
		.modf_img.modfimgevent div {
			height: auto;
		}
		.modf_img.modfimgevent.modf3 div {
			height: auto;
		}
		.modf_img.modfimgevent.modf3 {
			margin-right: 0;
		}
		.details-cont-portion h2 {
			margin: 4px 0px 10px;
		}
		.event-content-wr .details-cont-portion .lists li {
			
			line-height: 24px;
		}

		p.tick-title {
			margin-bottom: 7px;
		}
}
@media (max-width:360px) {

	.banner-container .banner-content-wrap p {
		font-size: 10px;
		line-height: 20px;
	}
	.pagination .page-item .page-link {
		padding: 2px 3px !important;
	}
	.event-content-wr .details-cont-portion .lists li {
		
		line-height: 24px;
	}
}


/* ============================================================ Responsive Table via Data Label ============================================================ */
/* 
p.p-title {
    font-weight: 600;
}
p.p-title {
    font-weight: 600;
    margin-bottom: 10px;
} */

/*  */


/* ============================================================ Responsive Table via Data Label ============================================================ */

@media screen and (max-width: 960px) {
	td.text-center {
		text-align: right !important;
	}
	.responsivetableview2 .table tbody tr {
		border-bottom: 3px solid #F3F3F3;
	}
	.responsivetableview2 .table tbody td .form-control {
		margin: 0 0 0px auto !important;
	}
	.responsivetableview2 table {
		border: 1px solid transparent;
		box-shadow: none;
   }
	.responsivetableview2  table thead {
		display: none;
   }
   .responsivetableview2 table tbody tr {
    border-bottom: 2px solid #e1e1e1;
}
   .responsivetableview2 table tbody tr td:first-child {
		padding-left: 10px;
   }
   .responsivetableview2 table tbody tr td:before {
		content: attr(data-label);
		float: left;
		font-size: 12px;
		text-transform: unset;
		font-weight: 600;
		padding: 2px  0 0 0;
   }
   .responsivetableview2 table tbody tr td {
		display: block;
		text-align: right;
		font-size: 13px !important;
		padding: 7px  10px !important;
		box-shadow: 0 1px 1px rgb(209 204 204 / 30%);
   }
   .responsivetableview2 table tbody tr td input.form-control {
    height: auto !important;
    padding: 0px;
    max-width: 69px !important;
}

.responsivetableview2 select.mid-value.form-select {
    display: inline-block;
    width: auto;
}
.responsivetableview2 label.cs-wrapper.table-checkbox {
    margin: 0px !important;
    padding: 0px !important;
}
.terms-privacy {
    margin: 30px 0;
}
}
@media screen and (max-width: 767px) {


	.specific-tran-wrap .event-name {
		font-size: 14px;
	}
	.specific-tran-wrap .event-name {
		margin: 2px 0;
	}
	.specific-tran-wrap .status-menu .form-select {
	
		font-size: 13px;
	}
	.right-panel {
	
		padding: 15px 15px 15px 15px;
	}
	 .table tbody tr {
		border-bottom: 3px solid #F3F3F3;
	}
	.table tbody td .form-control {
		margin: 0 0 0px auto !important;
	}
	.responsivetableview table {
		border: 1px solid transparent;
		box-shadow: none;
   }
	.responsivetableview  table thead {
		display: none;
   }
   .responsivetableview table tbody tr {
    border-bottom: 2px solid #e1e1e1;
}
   .responsivetableview table tbody tr td:first-child {
		padding-left: 10px;
   }
   .responsivetableview table tbody tr td:before {
		content: attr(data-label);
		float: left;
		font-size: 12px;
		text-transform: unset;
		font-weight: 600;
		padding: 2px  0 0 0;
   }
   .responsivetableview table tbody tr td {
		display: block;
		text-align: right;
		font-size: 13px !important;
		padding: 7px  10px !important;
		box-shadow: 0 1px 1px rgb(209 204 204 / 30%);
   }
   .responsivetableview table tbody tr td input.form-control {
    height: auto !important;
    padding: 0px;
    max-width: 69px !important;
}

.action-icon {
    display: block !important;
}
.action-icon svg {
    margin-left: 9px;
}
.universal-event-search .btn-search {
	
	font-size: 15px;
}

.stepfrm-inner {
    width: 100%;
}
button.btn.btn-next { 
    width: 100%; 
}
.image-upload {
    width: 85px;
    height: 85px; 
}

.main-frame-inner .form-class .form-label {
    font-size: 13px;
}
.cs-wrapper .label-text {
  
    font-size: 13px;
   
}
.main-frame-inner .form-class .form-label {
  
    display: flex;
    width: 100%;
}
.check-radio-wrap {

    margin-bottom: 7px;
}
.save-cancel-action {

    padding-bottom: 17px;
}
.taxes-wrap .per-position .percent {
    right: -2px !important;
    bottom: 28px  !important;

}
.mb-3.per-position.row {
    margin-bottom: 0px !important;
}
.mb-3.per-position.row .form-control {
    margin-bottom: 15px;

}
.form-values2 {
    padding-bottom: 4px;
    margin-top: 4px;
}
.check-radio-wrap.crW.addmorpad .form-label {
    padding: 0px 0 0 0;
}
.stepfrm-inner .form-control {
    font-size: 13px;

}
.terms-privacy .terms-head {
    font-size: 22px;

}
.form-class .file-upload-area label span {

    font-weight: 600;
    font-size: 14px;
}
}


@media screen and (max-width: 767px) {


	
}